@model ConsultationDeleteModel

@{
    ViewData["Title"] = "Suppression d'un consultation";
}

<h3>Êtes-vous sûr de vouloir supprimer cette consultation ?</h3>

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
    </dl>

    <form method="post" asp-action="Delete">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-controller="Consultations" asp-action="Index" asp-route-id="@Model.PatientId">Retour</a>
    </form>
</div>