@model ConsultationListViewModel

@{
    ViewData["Title"] = "Liste des consultations";
}

<h1>Liste des consultations</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.PatientId">Création d'une nouvelle consultation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (ConsultationModel item in Model.Consultations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                    <a asp-action="Update" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Patients" asp-action="Index">Retour</a>