@model PatientListViewModel

@{
    ViewData["Title"] = "Liste des patients";
}

<h1>Liste des patients</h1>

<p>
    <a asp-action="Create">Création d'un nouveau patient</a>
</p>

<form asp-controller="Patients" asp-action="Index" method="get">
    <p>
        Nom <input type="text" asp-for="SearchLastName" />

        Prénom <input type="text" asp-for="SearchFirstName" />

        N° de sécurité sociale<input type="text" asp-for="SearchSocialSecurityNumber" />

        Date de naissance <input type="date" asp-for="SearchBirthDate" />

        <input type="submit" value="Rechercher" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecurityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedSheet)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Patient item in Model.Patients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @(item.SharedSheet ? "Oui":"Non")
                </td>
                <td>
                    <a asp-controller="Consultations" asp-action="Index" asp-route-id="@item.Id">Consultations</a> |
                    <a asp-action="Update" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index">Retour</a>